{% extends 'service/back_office/base.html.twig' %}

{% block title %}
    Liste des services
{% endblock %}

{% block stylesheet %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            {{ include('service/default/FlashBag/flashBag.html.twig') }}

            <a href="{{ path('add_service') }}" class="btn btn-primary btn-md float-right">Ajouter un service</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control critere" placeholder="Recherche par critére"  aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2"><i class="fa fa-loop"></i> </span>
                </div>
            </div>
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Liste des services</h4>
                    <p class="card-category"></p>
                </div>

                <div class="card-body">
                    <div class="table-responsive listService">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Numéro vert</th>
                            <th>Zone dispo</th>
                            <th>Type</th>
                            <th class="text-center">Action</th>
                            </thead>
                            <tbody>
                            {% for s in services %}
                                <tr>
                                    <td>{{ s.name }}</td>
                                    <td>{%  if s.description|length <= 60  %} {{ s.description}} {% else %} {{ s.description|slice(0,60) }}...{% endif %}</td>
                                    <td>{{ s.numVert }}</td>
                                    <td>{{ s.zoneDispo }}</td>
                                    <td>{{ s.type.name }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-info"
                                           href="{{ path('edit_service' , {service : s.id}) }}"><i
                                                    class="fa fa-edit"></i></a>
                                        <a class="btn btn-sm btn-info"
                                           href="{{ path('detail_service' , {service : s.id}) }}"><i
                                                    class="fa fa-eye"></i></a>
                                        <a class="btn btn-sm btn-info"
                                           href="{{ path('delete_service' , {service : s.id}) }}"><i
                                                    class="fa fa-trash"></i></a>


                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            {{ knp_pagination_render(services) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app/back-office/volontaire/service/js/listService.js') }}"></script>
{% endblock %}

